extends chart

block middle
	div.col-lg-9
		form.form-horizontal(ref='uploadForm', id='uploadForm', action='./config', method='post', encType='multipart/form-data')
			.form-group
				.col-lg-4
					.alert.alert-warning
						p Some message
				label.control-label.col-lg-2(for="configFileDisplay") Upload New Configuration File:
				.col-lg-5
					config-upload(id="adminUpload")
				.col-lg-1
					button.btn.btn-primary.form-control(type='submit' ng-submit='upload') Upload
		h4 Details go here
		p Something here.
