extends layout

block content
	div.row
		div.col-lg-3(ng-controller='chartController')
			h4 Chart
			#tradingChart
			h4 History Log
			p More text here
		div.col-lg-4(ng-controller='adminController')
			h4 Upload New Configuration
			.well
				form.form-horizontal(ref='uploadForm', id='uploadForm', action='./config', method='post', encType='multipart/form-data')
					fieldset
						.form-group
							label.control-label.col-lg-4(for="configFileDisplay") Configuration File:
							.col-lg-8
								input.hidden(type='file', id='configFile', name='configFile', ng-model='configFile', config-file-change)
								.input-group
									input.form-control(type='text', id='configFileDisplay', name='configFileDisplay', ng-model='configFileDisplay')
									span.input-group-btn
										button.btn.btn-default(type='button', ng-click="selectFile()") Browse...
						.form-group
							.col-lg-4.col-lg-offset-8
								button.btn.btn-primary.form-control(type='submit') Upload
