extends layout

block content
	a(href="/")
		span.glyphicon.glyphicon-home
		span &nbsp; Return Home
	h4 Error Message
	p= error.message
	h4 Error Code
	p= error.status
	h4 Error Stacktrace
	pre #{error.stack}
