extends layout

block content
	h1= title
	p Welcome to #{title}
	p Josh is here more here Adam Josh
	p Another test.
	script.
		var ws = new WebSocket('ws://localhost:9080/?user=a1');
		ws.onopen = function () {
		  		logger.log("Opened client WS: %s", ws.url);
				ws.send(JSON.stringify({type: "BID1", amount: 20, user: "a1"}));
		};
		ws.onmessage = function(message) {
			logger.log("Received message: %s", message.data);
		};
		ws.onerror = function(error) {
			logger.error("Error received: %s", error);
		};
