doctype html
html(lang='en', ng-app="plzsq")
	head
		title= title
		if useCdn
			link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css')
		else
			link(rel='stylesheet', href='/css/flatly.bootstrap.min.3.3.7.css')
		link(rel='stylesheet', href='/css/plzsq.css')
	body
		nav.navbar.navbar-default
			div.container-fluid
				div.navbar-header
					div.navbar-brand
						img(src='/img/plazasq.svg', alt='Plaza Square')
						span= title
				div
					ul.nav.navbar-nav.navbar-right
						li
							p.navbar-text Link
		div.container-fluid
			block content
		if useCdn
			script(type='text/javascript' src='//code.jquery.com/jquery-3.1.1.min.js')
			script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/jsviews/0.9.84/jsviews.min.js')
			script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/jsviews/0.9.84/jsrender.min.js')
			script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.min.js')
			script(type='text/javascript' src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
		else
			script(type='text/javascript' src='/js/jquery-3.1.1.min.js')
			script(type='text/javascript' src='/js/jsviews-0.9.84.min.js')
			script(type='text/javascript' src='/js/jsrender-0.9.84.min.js')
			script(type='text/javascript' src='/js/js.cookie-2.1.4.min.js')
			script(type='text/javascript' src='/js/bootstrap.3.3.7.min.js')
		script(type='text/javascript' src='/js/canvasjs.1.7.0.min.js')
		script(type='text/javascript' src='/app/util.js')
		script(type='text/javascript' src='/app/ws.js')
		script(type='text/javascript' src='/app/chart.js')
		script(type='text/javascript' src='/app/market.js')
