.navbar-brand {
	padding: 0px;
}
.navbar-brand>img {
	height: 100%;
	padding: 15px;
	width: auto;
	display: inline;
}
.navbar-brand span {
	color: #ffffff;
}
.canvasjs-chart-credit {
	display: none;
}
#tradingChart {
	width: 100%;
	height: 375px;
}
